.modalBackGround {
  width: 100vw;
  height: 110vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  width: 600px;
  height: 700px;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  @media screen {
  }
}

.messages {
  height: 90%;
  overflow-y: auto;
}

.exitBtn {
  margin-left: auto;
  background-color: tomato;
}
.modalHeader {
  display: flex;

  background-color: beige;
}
